<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>this job is used to create expect branch and tag for release</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>the expected branch name to create</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>durham_build_server</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

public_repos=&quot;idic tools test vpduserv vracksystem&quot;

private_repos=&quot;vracksystem_private test_private redfish_sim utilities emu_data seabios&quot;

../infrasim_build/shell/tag_creation.sh ${BRANCH_NAME} ${public_repos} ${private_repos}

../infrasim_build/shell/tag_creation.sh &quot;infrasim-qemu-v2.6.0&quot; &quot;qemu&quot;
../infrasim_build/shell/tag_creation.sh &quot;infrasim-openipmi-2.0.22&quot; &quot;openipmi&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.4"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>