<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>this job is used to create infrasim-compute.ova.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TOOLS_BRANCH</name>
          <description>the branch of tools repo used in this job</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/InfraSIM/tools.git</url>
        <credentialsId>5200afae-5e24-4118-93e1-415394ab8797</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>tools</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <assignedNode>packer_build_ova</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

local_iso=&quot;\/home\/infrasim\/Downloads\/ubuntu-16.04-server-amd64.iso&quot;
config_json=&quot;infrasim-vmware.json&quot;

if [ ! -d tools ]; then
    echo &quot;failed to clone tools&quot;
    exit 1
fi

pushd tools/packer
if [ -f /home/infrasim/Downloads/ubuntu-16.04-server-amd64.iso ]; then
	sed -i &quot;s/\&quot;iso_url\&quot;: \&quot;http\(.*\),/\&quot;iso_url\&quot;: \&quot;${local_iso}\&quot;,/g&quot; $config_json
fi
if [ -d vmware-infrasim ]; then
	echo &quot;vmware-infrasim exists!&quot;
	sudo -S rm -rf vmware-infrasim
fi
packer build $config_json
if [ ! -d vmware-infrasim ]; then
	echo &quot;failed to build vmx&quot;
    exit 1
fi
ovftool vmware-infrasim/packer-vmware-iso.vmx infrasim-compute.ova
popd
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>tools/packer/*.ova</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.4"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>